<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>

    <!-- Bootstrap CSS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/reminder.css')}}">
</head>
<body>

    
    <form action="/dashboard" method="POST">
        
            

            <div class="container" style="opacity:0.9">
                <h1>Dashboard!</h1>

                <div class="row">
                  <div class="card col-sm" >
                    <div class="card-body">
                        <h3 class="card-title">Patients.</h3>
                        <!--<div class="d-flex justify-content-center">-->
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">id</th>
                                        <th scope="col">name</th>
                                        <th scope="col">last name</th>
                                        <th scope="col">phone</th>
                                        <th scope="col">email</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for patient in form.patients %}
                                    <tr>
                                        <th scope="row"><a class="btn btn-primary" href={{url_for('dashboard',patientID=patient.id,taskID=0)}}>{{patient.id}}</a></th>
                                        
                                        <td>{{patient.name}}</td>
                                        <td>{{patient.last_name}}</td>
                                        <td>{{patient.phone}}</td>
                                        <td>{{patient.email}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                       <!-- </div>-->
                        
                    </div>  
                  </div>
                  
                </div>

                <div class="row">
                    
                    <div class="card col-md" style="width: 30rem; overflow: auto;">
                        <div class="card-header">
                            Prescriptions
                          </div>
                          <div class="card-body">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">id</th>
                                        <th scope="col">Prescription</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for prescription in prescriptions %}
                                    <tr>
                                        <th scope="row"><a class="btn btn-primary" href={{url_for('dashboard',patientID=form.selectedid,taskID=prescription.id)}}>{{prescription.id}}</a></th>
                                        <td>Take {{prescription.medication}} every {{prescription.frequency}} hours</td>
                                        
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                          </div>
                    </div>

                    <div class="card col-sm">
                        <div class="card-header">
                            Alerts
                          </div>
                          <div class="card-body">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Alert</th>
                                        <th scope="col">Last Sent</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for task in tasks %}
                                    <tr>
                                        <th scope="row"><a class="btn btn-primary" href="#">{{task[2]}}</a></th>
                                        <td>{{task[3]}}</td>
                                        
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                          </div>
                    </div>

                </div>


              </div>


        
    </form>

    
        
    
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>